h1 {color: Red;}

#logo {width: 150px;
height: 100px;}

p{color: palevioletred;}


FOOTER {color: RED;}

span {color: darkblue;}


FOOTER{height: 200px;}



.large-text{
	font-size: 20px;
}








header,FOOTER {background-color: black;}





